@{
    ViewBag.Title = "About";
}
<h2> Sobre o Site.</h2>
<h3>Olá 'Garageiro'</h3>

<p>O espaço virtual GarageStore, foi criado com o intuito de ajudar pessoas que pecisam liberar espaço na garagem ou, <br>
 então, preenche-la de quinquilharias. Aqui você pode encontrar itens de seu interesse e negociar direto com o vendedor.<br>
  Vale a pena dar até uma choradinha para baixar o preço, né?<br>
    <br>
    <br>
    <br>
    A Equipe (de um) do GarageStore, deseja-lhe ótimas negociações!!!!
    </p>
