@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>
<h3>Duvidas ou Sujestões? Entre em contato conosco.</h3>

<address>
    Cidade Viamão,<br />
    Rio Grande do Sul,Brasil.<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Nosso Email:</strong>   <a href="mailto:lidi_anne88@yahoo.com.br">lidi_anne88@yahoo.com.br</a><br />
</address>