@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Ops!.</h1>
<h2 class="text-danger">Algo aconteceu errado aqui! Mas já arrumaremos isto.<br> Pedimos desculpas pelo inconveniente</h2>

